<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.ShowDigits" title="@Strings.ShowDigitsMenuTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.Layout" title="@Strings.LayoutMenuTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.LayoutHorizontal</listEntry>
            <listEntry value="2">@Strings.LayoutVertical</listEntry>
            <listEntry value="3">@Strings.LayoutDiagonal</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Theme" title="@Strings.ThemeMenuTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.ThemeMonochrome</listEntry>
            <listEntry value="2">@Strings.ThemeSoftOrange</listEntry>
        </settingConfig>
    </setting>

</settings>
